* {
  margin: 0;
  padding: 0;
}

main {
  min-height: 120vh;
}

.app-icon {
  font-size: 36px;
  background-color: #3b5998;
  color: #ffffff;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box {
  background-color: #adaaaa;
  border: unset;
}

.gray-icon {
  font-size: 40px;
  color: gray;
}

.container {
  display: flex;
}

.container li {
  flex: 1;
}
